<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to Secrets</h1>


    <% if @user %>
        <br>
        Logged in as <%= @user.email %>
    <%end %>

    <%= button_to "Logout", logout_path, method: :delete %>

</div>